# .gitignore

.*

!.gitignore
!.editorconfig
!.latexmkrc
!.scripts
!.typesetting

**/*.aux
**/*.bbl
**/*.blg
**/*.bst
**/*.fdb_latexmk
**/*.fls
**/*.idx
**/*.ilg
**/*.ind
**/*.lof
**/*.log
**/*.lol
**/*.lot
**/*.ltjruby
**/*.nav
**/*.out
**/*.snm
**/*.toc
**/*.xmpi

**/*.pdf
!body-cropmark.pdf
!cover-cropmark.pdf

*.zip

**/*.o
